<mat-toolbar color="primary" class="navbar">
  <div>SME Wallet</div>
  <div>
    <span><a routerLink="/create-order">Order</a> </span>
    <span><a routerLink="/pending-orders">Pending Orders</a></span>
    <span><a routerLink="/approve-orders">Approve Orders</a></span>
    <span><a routerLink="/all-orders"> All Orders</a></span>
    <span><a routerLink="/invite">Invites</a></span>
  </div>
</mat-toolbar>

<!-- <button mat-button </button>
<button mat-button </button>
<button mat-button </button>
<button mat-button </button>
<button mat-button </button> -->

<!-- <button mat-button routerLink="/invite">View Supplier</button>
<button mat-button routerLink="/invite">View All Contacts</button> -->

<router-outlet></router-outlet>
